@use "colors" as color;
@use "media";
@use "dimensions" as dimension;

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

* {
  color: color.$white1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-weight: 400;
}
html {
  min-height: 100%;
}
body {
  background-color: color.$black1;
  margin: 0;
  min-height: 100%;
}

main {
  @include media.min-width(desktop) {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

button {
  background-color: transparent;
  border-style: none;
}

a {
  color: color.$white1;

  &:visited {
    color: color.$white1;
  }
}

h1 {
  font-size: 50px;
  font-family: 'Chelsea Market', cursive;
}

.sub-title {
  font-size: 18px;
  font-family: 'Arvo', serif;
}

.titles {
  margin: 20px dimension.$mobile-padding-sides;
  padding: 0 dimension.$mobile-padding-sides;
}

header {
  background-color: color.$black1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.desktop-header {
  align-items: center;
  padding: 26px 0;

  .img-container {
    height: 65px;
    width: 360px;
    position: relative;
    margin-bottom: 14px;
  }

  @include media.min-width(mobile) {
    display: none;
  }
  @include media.min-width(desktop) {
    display: flex;
  }
}

.mobile-header {
  align-items: center;
  padding: 0 dimension.$mobile-padding-sides;

  &.show-nav {
    min-height: 100vh;
    position: absolute;
    top: 0;
    z-index: 11;
    box-shadow: none;
  }
  .header-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    a {
      height: 60px;
    }

    .img-container {
      width: 80px;
      height: 60px;
      position: relative;
      margin-bottom: 14px;
    }

    svg {
      height: 50px;
      width: 50px;
    }
  }

  @include media.min-width(desktop) {
    display: none;

  }
}

nav {
  width: 100%;
  @include media.min-width(mobile) {
    height: 100%;

    &>ul{

      li {
        font-size: 24px;
        font-family: 'Chelsea Market', cursive;
        margin: 14px 0;
      }

      &>div {
        &>li {
          width: 100%;
          display: flex;
          justify-content: space-between;

          button {
            margin-left: 10px;

            svg {
              height: 30px;
              width: 30px;
            }
          }
        }
        ul {

          li {
            font-size: 18px;
            font-family: 'Arvo', serif;
            list-style: disc inside;
            margin: 14px 10px;
          }
        }
      }


    }
  }
  @include media.min-width(desktop) {
    li:hover {
      opacity: 0.8;
    }
    & > ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        font-size: 24px;
        font-family: 'Chelsea Market', cursive;
        padding: 2px 10px;
      }

      & > div {

        &.dropdown {
          background-color: color.$black2;
          border-radius: 10px 10px 0 0;
        }

        &>li {
          display: flex;
          align-items: center;
        }

        button {
          margin-left: 10px;
          svg {
            height: 30px;
              width: 30px;
          }
        }

        ul {
          background-color: color.$black2;
          position: absolute;
          border-radius: 0 10px 10px 10px;

          li {
            font-size: 18px;
            font-family: 'Arvo', serif;
            list-style: disc inside;
            margin: 14px 10px;
          }
        }
      }
    }
  }
}

.product-thumbnail {
  margin: 40px 0;
  padding: 0 dimension.$mobile-padding-sides;
  .text-container {
    margin: 10px dimension.$mobile-padding-sides;
    h2 {
      font-size: 32px;
      font-family: 'Chelsea Market', cursive;
      margin-bottom: 6px;
    }
    p {
      font-size: 18px;
      font-family: 'Arvo', serif;
    }

    .link {
      font-size: 36px;
      font-family: 'Kalam', cursive;
      padding-top: 16px;
      display: flex;
      align-items: center;
    }
  }
  @include media.min-width(desktop) {
    width: 100vw;
    max-width: 800px;
    display: flex;
    flex-direction: row;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 50px;

      h2 {
        font-size: 48px;
      }

      p {
        font-size: 20px;
      }

      .link {
        font-size: 48px;
        padding-top: 30px;
      }
    }
  }

}

.product {
  @include media.min-width(desktop) {
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    height: 30rem;
    margin-top: 10vh;
  }
}
.product-text {
  margin: 0;

  h1 {
    font-size: 40px;
    margin-bottom: 6px;
  }
  h2 {
    font-size: 28px;
    font-family: 'Yeseva One', cursive;
    margin-bottom: 6px;
  }

  .data-text {
    font-size: 20px;
    font-family: 'Arvo', serif;
  }
  .materials {
    margin: 30px 0;

    li {
      list-style: disc inside;
      font-family: 'Schoolbell', cursive;
      font-size: 18px;
    }
  }
  .description {
    margin: 30px 0;

    p {
      font-size: 16px;
      font-family: 'Arvo', serif;
      line-height: 1.5;
    }
  }

  .link {
    font-size: 50px;
      font-family: 'Kalam', cursive;
      display: flex;
      align-items: center;
  }

  @include media.min-width(desktop) {
    width: 40%;
    max-width: 400px;
    overflow: scroll;
    position: relative;
    height: 100%;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent; /* make scrollbar transparent */
    }
  }
}

.shadow-overlay {
  pointer-events: none;
  overflow: visible;
  position: absolute;
  height: 100%;
  width: 40%;
  top: 0;
  right: 0;
  background: linear-gradient(
    color.$black1 0%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 100%,
  ),
  linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 80%,
    color.$black1 100%,
    );

  &.bottom {
    background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 80%,
    color.$black1 100%,
    );
  }
  &.top {
    background: linear-gradient(
    color.$black1 0%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 100%,
    );
  }
}

.images-thumbnail {
  .img-container {
    width: 100%;
    position: relative;
    padding-top: 100%;
  }
  @include media.min-width(desktop) {
    width: 50vw;
    max-width: 500px;
  }
}
.bundle-container {
  width: 100%;
  display: inline-grid;
  gap: dimension.$mobile-padding-sides;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  @include media.min-width(desktop) {
    width: 50vw;
    max-width: 500px;
  }
}

.carousel {
  width: 100%;
  position: relative;

  @include media.min-width(desktop) {
    width: 30rem;
    max-width: 500px;
  }

  .img-container {
    width: 100%;
    position: relative;
    padding-top: 100%;
  }

  .carousel-buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    button {
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
    svg {
      height: 30px;
      width: 30px;
    }

    &.start {
      justify-content: end;
    }

    &.end {
      justify-content: start;
    }


  }

  .carousel-dots {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;

    svg {
      width: 20px;
      height: 20px;
    }
    .unfilled {
      opacity: 0.5;
    }
  }
}

#scrollToTopBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: dimension.$mobile-padding-sides;
  padding: 10px;
  border-radius: 30px;
  background-color: color.$black2;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.25);
  opacity: 0.7;

  @include media.min-width(desktop) {
    margin: 20px;
  }

  svg {
    height: 40px;
    width: 40px;
  }

  &:hover {
    opacity: 1;
  }

  &.hidden {
    display: none;
  }
}

.img-container {
  position: relative;
}